@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="container" style="height: 80vh; display: flex; flex-direction: row; justify-content: space-between;">
    <div id="game_title" style=" height: 100%; display: flex; flex-direction: column; justify-content: space-between; flex: 2;">
        <h1>Tony Hawk Pro Skater 2</h1>
        <div style="flex: 1">
            <img src="/images/TonyHawk.jpg" style="max-height: 100%; max-width: 100%;"/>
        </div>
    </div>
    <div id="game_content" style="display: flex; flex-direction: column; justify-content: space-around; flex: 1">
        <div id="current_players">
            <p>MTC:</p><input type="text" placeholder="Score..." style="display: inline" />
            <p>JDW:</p><input type="text" placeholder="Score.." style="display: inline" />
            <p>GMK:</p><input type="text" placeholder="Score..." style="display: inline" />
        </div>
        <div>
            <p>
                RULES:
                Set the highest score in 2 minutes. Manuels and grinds will allow you to extend your life! Do you have what it takes??
            </p>

        </div>
    </div>
</div>
