@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <select>
        <option>Game 1</option>
        <option>Game 2</option>
        <option>Game 3</option>
        <option>Game 4</option>
        <option>Game 5</option>
        <option>Game 6</option>
        <option>Game 7</option>
    </select>
    <button>Select Game</button>
</div>