@{
    ViewData["Title"] = "Home Page";
}

<div style="height: 100%; display: flex; flex-direction: row; justify-content: space-between; border: 1px solid blue">
    <div id="player_left" style="display: flex; flex-direction: column; justify-content: space-between; border: 1px solid red;" >
        <div id="player_one" style="background-color: lightcyan;">
            <h1>Mike Campbell</h1>
            <p>Current Roll:</p><p>26</p>
            <p>Current Game Score:</p>
            <p>Dabcheck:</p><br />
            <input type="checkbox" />
            <p>Wins: 2</p>

        </div>
        <div id="player_two" style="background-color: black; height: 25px; width: 25px;">

        </div>
    </div>
    <div id="game_field" style="flex-grow: 3">
        <div id="game_info">

        </div>
    </div>
    <div id="player_right" style="display: flex; flex-direction: column; justify-content: space-between; border: 1px solid orange;">
        <div id="player_three" style="background-color: black; height: 25px; width: 25px;">

        </div>
        <div id="player_four" style="background-color: black; height: 25px; width: 25px;">

        </div>
    </div>
        
</div>